@{
    Layout = null;
}


<html>
<head>
    <style>
        html, body {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body >
    <canvas id="canvas" style="position:absolute; left:0px; top:0px"></canvas>
    <img id="map" src="/map.png" alt="world map" hidden="hidden" />
</body>
</html>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<div>
    <h2>FLIGHT:</h2>
    <table>
        <tr>
            <td>Lon:  </td>
            <td><p type="text" id="Lon" size="5"></p></td>
        </tr>
        <tr>
            <td>lat:  </td>
            <td><p type="text" id="Lat" size="5"></p></td>
        </tr>
    </table>
</div>


<script>
    var IntervalTime = @Session["time"] * 1000
        myTimer = (function () {
        $.post( "@Url.Action("GetFlightData")").done(function (xml) {
                var xmlDoc = $.parseXML( xml ),
                $xml = $( xmlDoc ),
                lat = $xml.find( "lat" ).text();
                lon = $xml.find("lon").text();
            var c = document.getElementById("canvas");
            var ctx = c.getContext("2d");
            var x = parseFloat(lon.valueOf());
            var y = parseFloat(lat.valueOf());
            x = 600;
            y = 100;
           // drawArc(x, y, 50, "red");

            $("#lng").text(lng);
            $("#lat").text(lat);
            });
    });
    if (IntervalTime != 0) {
        setInterval(myTimer, IntervalTime);
        myTimer();
    } else {
        showArc = (function (imgWi, imgHi) {
            $.post("@Url.Action("GetFlightData")").done(function (xml) {
                var xmlDoc = $.parseXML(xml),
                    $xml = $(xmlDoc),
                    lat = $xml.find("Lat").text();
                lon = $xml.find("Lon").text();
                
                var x = (imgWi / 360) * (parseFloat(lon.valueOf()) + 180);
                var y = (imgHi / 180) * (parseFloat(lat.valueOf()) + 90);
                drawArc(x, y);
        
                $("#lon").text(lon);
                $("#lat").text(lat);
            });
        });
        showArc();
    }

</script>

<script>
    window.onload = function () {
        var c = document.getElementById("canvas");
        c.width = window.innerWidth;
        c.height = window.innerHeight;
        var ctx = c.getContext("2d");
        ctx.translate(0, 0);
        var img = document.getElementById("map");
        ctx.drawImage(img, 0, 0, img.width, img.height, 0, 0, c.width, c.height);
        if (IntervalTime != 0) {
            myTimer();
        } else {
            showArc(window.innerWidth, window.innerHeight);
        }
    };
</script>

<script>
    drawArc = (function (x, y) {
        var c = document.getElementById("canvas");
        var ctx = c.getContext("2d");
        ctx.beginPath();
        ctx.arc(x, y, 50, 0, 2 * Math.PI);
        ctx.fillStyle = 'red';
        ctx.fill();
        ctx.lineWidth = 2;
        ctx.strokeStyle = 'black';
        ctx.stroke();
    });
</script>


<!--style="border:1px solid #d3d3d3-->
